<div class="row">
<div class="col-xs-12 page-header">
    <h1>Define Your Function</h1>
    <p class="help-block">[describe a function and how to define it here]</p>
</div>
</div>

<form name="inputsForm" novalidate>

<div class="panel panel-default">
    <div class="panel-heading">Inputs</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2"><strong>Label</strong></div><div class="col-md-9"><strong>Description</strong></div>
        </div>
        <div class="row ng-class: {'has-error': inputsForm.$error.inputIdValid };" ng-repeat="input in df.getInputs()">
            <div class="col-md-2"><input name="f_input" ng-model="input.id" class="form-control input-sm" input-id-valid /></div>
            <div class="col-md-9"><input name="f_desc" ng-model="input.desc" class="form-control input-sm"/></div>
            <div class="col-md-1"><a ng-show="df.getInputs().length > 1" ng-click="removeInput($index)"><span class="glyphicon glyphicon-minus"></span></a></div>
        </div>
        <div class="row">
            <div class="col-md-11"></div>
            <div class="col-md-1"><a class="add-input" ng-click="addInput()"><span class="glyphicon glyphicon-plus"></span></a></div>
        </div>
    </div>
</div>

<div class="row">
<div class="col-xs-2">
<table class="table table-stripped table-bordered table-condensed table-responsive">
    <tr>
        <th>{{ getHorizontalLabel() }}/{{ getVerticalLabel() }}</th>
        <th ng-repeat="inputLabel in getHorizontalInputLabels()">
            {{inputLabel}}
        </th>
    </tr>
    <tr ng-repeat="verticalInputState in getVerticalInputStates()">
        <th>{{ getVerticalInputLabels()[$index] }}</th>
        <td ng-repeat="horizontalInputState in getHorizontalInputStates()" ng-controller="InputStateMatrixCtrl">
            <button class="btn btn-default btn-xs input-state" data-sm-tristate data-sm-model="state.value"></button>
        </td>
    </tr>
</table>
</div>
<div class="col-xs-10"></div>
</div>

</form>