<div class="row">
<div class="col-xs-12 page-header">
    <h1>Define Your Function</h1>
    <p class="help-block">[describe a function and how to define it here]</p>
</div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Inputs <button class="btn btn-default btn-sm"><span class="glyphicon glyphicon-plus"></span></button></div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2"><strong>Label</strong></div><div class="col-md-10"><strong>Description</strong></div>
        </div>
        <div class="row">
            <div class="col-md-2"><input name="f_input" value="x" class="form-control input-sm" /></div>
            <div class="col-md-10"><input name="f_desc" value="first input" class="form-control input-sm"/></div>
        </div>
        <div class="row">
            <div class="col-md-2"><input name="f_input" value="y" class="form-control input-sm" /></div>
            <div class="col-md-10"><input name="f_desc" value="second input" class="form-control input-sm"/></div>
        </div>
    </div>
</div>

<div class="row">
<div class="col-xs-2">
<table class="table table-stripped table-bordered table-condensed table-responsive">
    <tr>
        <th>x/y</th>
        <th>0</th>
        <th>1</th>
    </tr>
    <tr>
        <th>0</th>
        <td><button class="btn btn-default btn-xs" title="Don't Care">?</button></td>
        <td><button class="btn btn-default btn-xs" title="Don't Care">?</button></td>
    </tr>
    <tr>
        <th>1</th>
        <td><button class="btn btn-default btn-xs" title="Don't Care">?</button></td>
        <td><button class="btn btn-default btn-xs" title="Don't Care">?</button></td>
    </tr>
</table>
</div>
<div class="col-xs-10"></div>
</div>
